/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-10-02, 09:47:17
    Author     : kursant2
*/
body {
    background-color: #FAFAFA;
    font-family: Garamond;
}

form {

    margin-left: 10px;padding:0px;    
}
table {
    width:800px;
    height:90%;
    margin-left: 0px;


}
table.b {
    width:300px;
    height:10%;
    margin-left: 0px;
    padding:0px;
}
td.a {

    background: rgba(235,220,59,1);
    background: -moz-linear-gradient(top, rgba(235,220,59,1) 0%, rgba(92,64,27,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,220,59,1)), color-stop(100%, rgba(92,64,27,1)));
    background: -webkit-linear-gradient(top, rgba(235,220,59,1) 0%, rgba(92,64,27,1) 100%);
    background: -o-linear-gradient(top, rgba(235,220,59,1) 0%, rgba(92,64,27,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,220,59,1) 0%, rgba(92,64,27,1) 100%);
    background: -o-linear-gradient(to bottom, rgba(235,220,59,1) 0%, rgba(92,64,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebdc3b', endColorstr='#5c401b', GradientType=0 );
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:center;

    font-size:18px;

    font-weight:bold;
    color:#000000;
}
td.b {

    background-color:black;
    border:1px none;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding-left:7px;
    font-size:12px;

    font-weight:bold;
    color:#FAFAFA;
}
td.c {
    background: rgba(246,247,230,1);
    background: -moz-linear-gradient(top, rgba(246,247,230,1) 0%, rgba(240,237,170,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,247,230,1)), color-stop(100%, rgba(240,237,170,1)));
    background: -webkit-linear-gradient(top, rgba(246,247,230,1) 0%, rgba(240,237,170,1) 100%);
    background: -o-linear-gradient(top, rgba(246,247,230,1) 0%, rgba(240,237,170,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,247,230,1) 0%, rgba(240,237,170,1) 100%);
    background: -o-linear-gradient(to bottom, rgba(246,247,230,1) 0%, rgba(240,237,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7e6', endColorstr='#f0edaa', GradientType=0 );
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:12px;

    font-weight:bold;
    color:#000000;
}
#left {
    line-height:50px;
    background-color:black;
    height:1000px;
    width:385px;
    float:left;
    padding-left:10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}
#right {
    width:0px;
    float:left;
    padding-left:10px;
    padding-top:0px
}
h3 {
    text-align: center;
    color:white;
    font-weight:bold;
}
